.container {
  width: 90%;
  max-width: 950px;
  margin: auto;
}

.tagline {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 992px) {
  .highlights {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .highlights {
    display: flex;
    flex-direction: column;
  }
}

.highlight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.825rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #456;
  color: #def;
}

.highlight-icon {
  font-size: 5rem;
  color: #9ab;
}
